In [6]:
# Colby Bailey
# data science summer 2023
# UTSA Student ID: nib667

In [7]:
import zipfile
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [ ]:
%matplotlib inline

In [8]:
# INSTRUCTOR CODE
def parsefile(filename):
    return np.genfromtxt(filename,
                         delimiter = dly_delimiter,
                         usecols = dly_usecols,
                         dtype = dly_dtype,
                         names = dly_names)

In [9]:
# INSTRUCTOR CODE
def unroll(record):
    startdate = np.datetime64('{}-{:02}'.format(record['year'],record['month']))
    dates = np.arange(startdate,startdate + np.timedelta64(1,'M'),np.timedelta64(1,'D'))
    
    rows = [(date,record[str(i+1)]/10) for i,date in enumerate(dates)]
    
    return np.array(rows,dtype=[('date','M8[D]'),('value','d')])

In [10]:
# INSTRUCTOR CODE
def getobs(filename,obs):
    data = np.concatenate([unroll(row) for row in parsefile(filename) if row[2] == obs])
    
    data['value'][data['value'] == -999.9] = np.nan
    
    return data

In [11]:
# INSTRUCTOR CODE
def fillnans(data):
    dates_float = data['date'].astype(np.float64)
    
    nan = np.isnan(data['value'])
    
    data['value'][nan] = np.interp(dates_float[nan],dates_float[~nan],data['value'][~nan])

In [12]:
# INSTRUCTOR CODE
def selectyear(data,year):
    start = np.datetime64('{}'.format(year))
    end = start + np.timedelta64(1,'Y')
    
    return data[(data['date'] >= start) & (data['date'] < end)]['value']

In [ ]:
# TASK 1
zip_path = 'weather.zip'
extract_path = 'weather'
with zipfile.ZipFile( zip_path, 'r' ) as zip_ref:
    zip_ref.extractall( extract_path )

In [14]:
ls -l weather

total 42336
-rw-r--r--@ 1 bagoferasers  staff  1711530 Jun 27 12:57 RSM00030710.dly
-rw-r--r--@ 1 bagoferasers  staff  4165020 Jun 27 12:57 USW00014922.dly
-rw-r--r--@ 1 bagoferasers  staff  3692790 Jun 27 12:57 USW00022536.dly
-rw-r--r--@ 1 bagoferasers  staff  3502710 Jun 27 12:57 USW00023188.dly
-rw-r--r--@ 1 bagoferasers  staff    44303 Jun 27 12:57 project2.ipynb
-rw-r--r--@ 1 bagoferasers  staff    24088 Jun 27 12:57 readme.txt
-rw-r--r--@ 1 bagoferasers  staff  8523546 Jun 27 12:57 stations.txt
-rw-r--r--@ 1 bagoferasers  staff      576 Jun 27 12:57 weather.README

In [15]:
# TASK 2
filename = 'USW00014922.dly'
obs = 'TMAX'
data = parsefile(filename)
unroll(data)
tmax_series = getobs(filename, obs)
year_range = range(1940, 2015)
tmax_selected = selectyear(tmax_series, year_range)
tmax_filled = fillnans(tmax_selected)
mean_tmax = np.mean(tmax_filled)
plt.plot(tmax_filled)
plt.title('TMAX in Minneapolis (1940-2014)')
plt.xlabel('Year')
plt.ylabel('TMAX (Â°F)')
plt.show()

NameError: name 'dly_delimiter' is not defined